@import "tailwindcss";

:root {
  --background: #fefefe;
  --sub-background: #f8f8f8;
  --text: #2c2c2a;
  --accent: #2059a6;
  --sub-accent-1: rgba(32, 89, 166, 0.5);
  --sub-accent-2: #21759b;
  --overlay: rgba(44, 44, 42, 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-sub-background: var(--sub-background);
  --color-text: var(--text);
  --color-accent: var(--accent);
  --color-sub-accent-1: var(--sub-accent-1);
  --color-sub-accent-2: var(--sub-accent-2);
  --font-sans: var(--font-plus-jakarta);
}

body {
  background: var(--background);
  color: var(--text);
}
